{% load static tailwind_tags django_htmx %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  {% tailwind_css %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}"></script>
  {% django_htmx_script %}

  {% block head %}{% endblock %}
</head>

<body class="p-3 dark:bg-gray-900 dark:text-white">
  <main class="max-w-screen-xl mx-auto p-4">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
