### Development environment

ENV_KIND=development
DEBUG=1

# Security
SECRET_KEY=django-insecure-c3+z5mi8bc3ah4@_eb11ure9l(6nip1mfri!_vgbe0k-8_*1_l
DJANGO_ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://127.0.0.1 https://127.0.0.1

# Container start options
RUN_MIGRATIONS_ON_START=yes

# Site root
SITE_ROOT=http://127.0.0.1:8000
