celery
crispy-tailwind
Django
django-autocomplete-light
django-browser-reload
django-crispy-forms
django-currentuser
django-debug-toolbar
django-extensions
django-htmx
django-rich
django-storages[s3]
django-tailwind
django-unfold
dj-database-url
granian
orjson
Pillow
psycopg2
pytest-django
redis
ruff
sentry-sdk
watchdog[watchmedo]
whitenoise
